@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
    position: absolute;
    background-color:rgb(85, 218, 255);
    color: white;
    font-size:30px;
    top: 3rem;
    right: -25px;
    padding: 5px 10px;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
  }
  
  .tooltip.active {
    opacity: 1;
    transform: scale(1);
  }

/* WebKit Browsers (Chrome, Edge, Safari) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #22c55e; /* Green-500 */
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #22c55e;
    border-radius: 50%;
    cursor: pointer;
}

